.carsWrapper {
  margin-top: 2em;
  margin-bottom: 2em;
}

.carsMostlyRented {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 40px;
}

@media (max-width: 900px) {
  .carsWrapper {
    margin-top: 8em;
    margin-bottom: 2em;
  }
  .carsMostlyRented {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .carsMostlyRented {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 550px) {
  .carsMostlyRented {
    grid-template-columns: 1fr;
  }
}

.carsMostlyRentedItem img {
  width: 100%;
  border-radius: 10px;
}

.carsFilters {
  margin-bottom: 40px;
}

.carsFilters h1 {
  margin-bottom: 40px;
  font-size: 28px;
}

.carsFilters ul {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  flex-wrap: wrap;
}

.carsFilters ul li {
  cursor: pointer;
  border: 1px solid #3b5998;
  padding: 10px;
  border-radius: 15px;
}

.carsList {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 14px;
  margin-bottom: 40px;
}

@media (max-width: 800px) {
  .carsList {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 550px) {
  .carsList {
    grid-template-columns: 1fr;
  }
}
